[Unit]
Description=My Flask App
[Service]
User=jenkins

ExecStart= /bin/sh /var/jenkins_home/workspace/pipelinedocker/script/installation.sh

[Install]
WantedBy=multi-user.target
